<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br/>
  <strong>Data/Hora </strong> {{ date }} <br/>
  <br/>
<hr>
<small>
  O horário está disponível para novo agendamento
</small>
</p>
